{% load static %}
<!DOCTYPE html>
<html>
  <head>
  <title>Welcome</title>
  <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />

    <!-- JS Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- CSS Files -->
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
  </head>
  <body bgcolor="black">
  <div class="home">
    <div class="centered" id="head-1" style="opacity: 0;">
      	<center><p class="flow-text type" style="color: white;font-size: 25px">This is the tale of ...</p></center>
        <input type="text" id = "main-input" style="font-size:25px;font-weight: bold;color:white;height:60px;" autofocus="autofocus" placeholder="9gag" autocomplete="off" active>
    </div>
    <div class="footeri" style="position: absolute;bottom: 0;">
    <img src="{% static 'img/materialize.png' %}" width="5%" height="5%">
    <img src="{% static 'img/github-logo.png' %}" width="5%" height="5%">
    </div>
  </div>
    <div class="centered flow-text type" id="story" style="color: white">
    <span id="head-2"></span>
    <span id="head-3"></span>
    <span id="head-4"></span>
    </div>
    <div style="color: white" id="image">
    </div>
  </body>
</html>
