{% load static %}
<!DOCTYPE html>
<html>
  <head>
  <title>Welcome</title>
  <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
  </head>
  <body bgcolor="black">
      <div class="centered" id="head-1" style="opacity: 0;">
      	<center><p class="flow-text" style="color: white;font-size: 25px">This is the tale of ...</p></center>
        <input type="text" id = "main-input" style="font-size:25px;font-weight: bold;" autofocus="autofocus" placeholder="9gag" autocomplete="off">
    </div>
    <div style="color: white" id="image">
    </div>
  </body>
</html>
