{% load static %}
<!DOCTYPE html>
<html>
  <head>
  <title>Welcome</title>
  <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />

    <!-- JS Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- CSS Files -->
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
  </head>
  <body bgcolor="black">
  <div class="flow-text container" id="about-content" style="color: white;display: none;">
  <a href = "javascript:void(0);" id="back"><i class="material-icons small" style="position: fixed;left: 0;top: 0;color: white;">arrow_back</i></a>
  <p style="font-size: 22px;">Help ?</p>
  <hr style="color:teal">
  1. Get Facebook Page username<br>
  2. Enter that username in text<br>
  3. Sit back and eat popcorn<br>
  <p style="font-size: 42px;">About</p>
  <hr style="color:teal">
  <p>Hey there,</p>
  <p>This web app fetches random post from given Facebook page and then fetch trending comments from it. And then it shows all the replies in order as if they are chatting. So in short it's like a story going on.</p>
  <p style="font-size: 32px">Technologies Used</p>
  <hr style="color:teal">
  <p>Python 3.6</p>
  <p>Django 1.11 - Web Framework</p>
  <p>Materialize - CSS Framework</p>
  <p>Facebook-sdk module (Facebook Graph API)</p>
  </div>
  <div class="home">
    <div class="centered" id="head-1" style="opacity: 0;">
      	<center><p class="flow-text" style="color: white;font-size: 25px">This is the tale of ...</p></center>
        <input type="text" id = "main-input autocomplete-input" class="autocomplete" style="font-size:25px;font-weight: bold;color:white;height:60px;" autofocus="autofocus" placeholder="" autocomplete="off" active>
    </div>
    <div class="footeri" style="position: fixed;bottom: 0;" id = "intro-icons">
    <a id="about" href = "javascript:void(0);" data-position="top" data-delay="50" data-tooltip="Help ?" class = "tooltipped"><i class="material-icons" style="color: white;">info</i></a>
    <a href = "https://github.com/shashank-sharma/facebook-comments" target="_blank"><img src="{% static 'img/github-logo.png' %}" width="9%" height="9%"></a>
    </div>
    <div class="fixed-action-btn">
    <a class="btn-floating btn white tooltipped" id="clap" data-position="top" data-delay="50" data-tooltip="Loved this ? Hold it" style="bottom: 0; right:0;"><i class="material-icons" style="color: black;">plus_one</i></a>
    <div id="clap-count" style="color: white">

    </div>
  </div>
  </div>       
    <a href = "javascript:void(0);" id = "refresh"><i class="material-icons small" style="position:fixed;right:0;top:0;color: white">refresh</i></a>
    <div class="centered flow-text type" id="story" style="color: white">
    <span id="head-2"></span>
    <span id="head-3"></span>
    <span id="head-4"></span>
    </div>
    <div class="row">
    <div class="col s6 l6 m12" style="color: white;">
    <span id="head-5">
    </span>
    <span id="head-6">
    </span>
    </div>
    <div class="col s6 l6 m12">
    <span id="head-7" class="" style="color: white">
    </span> 
    </div>
  </body>
</html>
